app/config/config.ini.dev
*_vhost.conf
cache
.DS_Store*
ehthumbs.db
*._delete
Icon?
Thumbs.db
.htaccess
.project
.settings
.vscode
.buildpath
.phalcon
*.komodoproject
*.sublime-project
*.sublime-workspace
.idea/
vendor
*.sql
composer.lock
tests/_output/*
public/fonts
public/css/font
public/inc
public/files
*.log
/nbproject/private/